body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    position: relative;
}


p{
    position: absolute;
    bottom: 5px;


    padding: 10px 20px;
    color:white;
    font-size: 20px;
    z-index: 2;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    z-index: 1;
}

/* jumpscare in jumpscare2.html*/
.jumpscare1-image {
    max-width: 100vw; 
    max-height: 100vh;
    object-fit: cover;
    animation: ZoomIn2 2s ease-out
}
@keyframes ZoomIn2  {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(2.5); /* Zoom into the screen */
    }
}



.next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 2;

}

.next-button:hover {
    background-color: darkred; 
}


/* jumpscare in jumpscare2.html*/
.jumpscare2-image {
    max-width: 100vw; 
    max-height: 100vh;
    object-fit: cover;
    animation: ZoomIn2 2s ease-out
}
@keyframes ZoomIn2  {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(2.5); /* Zoom into the screen */
    }
}



.next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 2;

}

.next-button:hover {
    background-color: darkred; 
}
