body {
    font-family: monospace;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    position: relative;
}


p{
    position: absolute;
    bottom: 5px;


    padding: 10px 20px;
    color:white;
    font-size: 20px;
    z-index: 2;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    z-index: 1;
}

/* jumpscare in jumpscare2.html*/
.jumpscare1-image {
    max-width: 100vw; 
    max-height: 100vh;
    object-fit: cover;
    animation: ZoomIn2 2s ease-out
}
@keyframes ZoomIn2  {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(2.5); /* Zoom into the screen */
    }
}



.next-button {
    position: absolute;
    color: red;
    font-size: 300%;
    text-decoration: none ;   
    top: 20px;
    right: 20px;
    padding: 10px 20px;

 }
 

.next-button:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
   }
   

/* jumpscare in jumpscare2.html*/
.jumpscare2-image {
    max-width: 100vw; 
    max-height: 100vh;
    object-fit: cover;
    animation: ZoomIn2 2s ease-out
}
@keyframes ZoomIn2  {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(2.5); /* Zoom into the screen */
    }
}






.dialogue{
    font-family: monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00000090;
    padding: 10px;
    text-align: center;
    z-index: 2;
    font-size: 16pt;
    color: rgb(231, 231, 231);
 }