body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url('cement_background.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.audio-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}


.door-container {
    display: flex;
    justify-content: space-evenly;
    width: 60%; 
    min-width: 1200px; 
    gap: 180px;
    margin-top: 9px;
}


.door {
    width: 300px;
    height: 550px;
    background: url('old_door.png') no-repeat center center;
    background-size: contain;
    transition: transform 0.3s ease;
    box-shadow: -10px 10px 15px 5px rgba(0, 0, 0, 0.8);





}


.door:hover {
    transform: scale(1.05);
}



